<div class="container">
  <h1 class="well">Registration Form</h1>
  <div class="col-lg-12 well">
    <div class="row">
      <%= form_for([:recruiters, @recruiter]) do |f| %>
        <% if @recruiter.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@recruiter.errors.count, "error") %> prohibited this recruiter from being saved:</h2>

            <ul>
            <% @recruiter.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul> 
          </div>
        <% end %>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
            <%= f.label :First_Name %>
            <%=f.text_field :first_name , placeholder: "first name", class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Last_Name %>
              <%=f.text_field :last_name , placeholder: "last name", class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :City %>
              <%=f.text_field :city , placeholder: "Enter Your City", class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Contact %>
              <%=f.text_field :contact , placeholder: "contact number", class: "form-control"%>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Email %>
              <%=f.text_field :email , placeholder: "abc@xyz.com", class: "form-control"%>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Password %>
              <%=f.password_field :email , placeholder: "password", class: "form-control"%>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Gender %>
              <%= f.radio_button :gender, "M", :checked => true %> Male
              <%= f.radio_button :gender, "F" %> Female
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Image %>
              <%= f.file_field :image%>
            </div>
          </div>
          <div class="actions" class="btn btn-lg btn-info">
            <%= f.submit %>
          </div>
        </div>
      <%end%> 
    </div>
  </div>
</div>
