
<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-sm-12 well">
      <div class="row">
        <div class="col-sm-10 form-group">
          <h3><b>Profile Pic : <br></b><%= image_tag @job_seeker.image.url %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <h3><b>Name : </b><%=@job_seeker.first_name %> <%=@job_seeker.last_name %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Gender :</b> <%=@job_seeker.gender %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Qualification :</b> <%=@job_seeker.qualification %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <h5><b>Experience (In year) : </b><%=@job_seeker.experience %> </h5>
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Indusrty : </b><%=@job_seeker.industry %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Function :</b> <%=@job_seeker.function %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Key Skills : </b><%=@job_seeker.key_skills %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Phone Number : </b><%=@job_seeker.contact %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>Email : </b><%=@job_seeker.email %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <h5><b>City : </b><%=@job_seeker.city %> </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
        <h5><b> Resume : </b>
        <%if !@job_seeker.resume.blank? %>
          <%= link_to "Download Resume", @job_seeker.resume_url %> </h5>
        <%else%>
          <h5> Resume not available</h5>
        <%end%>
        </div>
      </div>
      <%if job_seeker_signed_in?%>
      <%elsif%>
        <%=link_to 'Recruite', new_recruiters_appointed_path(js_id: @job_seeker), class: "btn btn-lg btn-info"%>
      <%end%>
    </div>
  </div>
</div>
