<div class="container" style="margin-top: 50px">
  <% if @job_seeker.new_record? %> 
    <h1 class="well">Registration Form</h1>
  <%elsif%>
    <h1 class="well">Edit Profile</h1>
  <%end%>
  <div class="col-lg-12 well">
    <div class="row">
      <%= form_for([:job_seekers, @job_seeker]) do |f| %>
        <%= devise_error_messages! %>
        <% if @job_seeker.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@job_seeker.errors.count, "error") %> prohibited this job_seeker from being saved:</h2>

            <ul>
            <% @job_seeker.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
            <%= f.label :First_Name %><span class="mendotory"> *</span>
            <%=f.text_field :first_name , placeholder: "first name", class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Last_Name %><span class="mendotory"> *</span>
              <%=f.text_field :last_name , placeholder: "last name ", class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 form-group">
              <%= f.label :Email %><span class="mendotory"> *</span>
              <%=f.email_field :email, autofocus: true,class: "form-control" %>
            </div>
          <%if @job_seeker.new_record? %>
            <div class="col-sm-3 form-group">
              <%= f.label :password %><span class="mendotory"> *</span>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" ,class: "form-control" , id:"password"%>
                <span id="result"></span>
            </div>
            <div class="col-sm-3 form-group">
                
                <%= f.label :password_confirmation %><span class="mendotory"> *</span><br />
                 <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control" %>
            </div>
          <%elsif%>
            <div class="col-sm-3 form-group">
             <i>( current password to confirm changes)</i>
              <%= f.password_field :current_password,required: true, autocomplete: "off" , class: "form-control"%>
            </div>
          <%end%>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Contact %><span class="mendotory"> *</span>
              <%=f.text_field :contact , placeholder: "contact number", class: "form-control"%>
            </div> 
            <div class="col-sm-6 form-group">
              <%= f.label :City %>
              <%=f.text_field :city , class: "form-control"%>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Gender %>
              <%= f.radio_button :gender, "M", :checked => true %> Male
              <%= f.radio_button :gender, "F" %> Female
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Image %>
              <%= f.file_field :image%>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Qualification %>
              <%=f.text_field :qualification , class: "form-control"%>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Key_Skills %>
              <%= f.text_field :key_skills , class: "form-control"%>
            </div>
            <div class="col-sm-6 form-group" >
              <%= f.label :Experience %>
              <%= f.radio_button :autolyse, false, :checked => true , id:"show" ,name: 'btn'%> Yes
              <%= f.radio_button :autolyse, false, :checked => true , id: "hid", name: 'btn'%> No
            </div>
          </div>
          <div class="row" id="hide">
            <div class="col-sm-6 form-group" >
              <%= f.label :Industry_Type %>
              <%=f.text_field :industry , class: "form-control"%>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.label :Function %>
              <%=f.text_field :function, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group" >
              <%= f.label :experience  %>
             <%=f.text_field :experience, class: "form-control", placeholder: "Experience in Year"%>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.label :Resume %><span class="mendotory"> *</span>
              <%=f.file_field :resume , class: "form-control"%>
            </div>
          </div>
          <div class="actions" class="btn btn-lg btn-info">
            <%= f.submit class: "btn btn-default"%>
            or
          </div>
          <div class="actions" class="btn btn-lg btn-info">
            <%= render "job_seekers/shared/links" %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<script >
$(document).ready(function(){
  $('#hide').hide();
  $("input[name='btn']").click(function() {
      if ($("#show").is(":checked")) {
          $("#hide").show(500);
      } else {
          $("#hide").hide(500);
      }
  });
});
</script>